.MainTitle {
  display: inline-block;
  margin-right: 10px;
}
.SearchArea {
  margin-bottom: 20px;
  display: block;
}
.SearchButton {
  padding-left: 5px;
}
.SearchField {
  padding-right: 5px;
}
.CompareHelper {
  padding: 10px;
}
.Players {
  align-items: center;
  justify-content: center;
  width: 100%;
}
