.MainTitle {
  display: inline-block;
  text-transform: capitalize;
  margin-right: 10px;
  font-size: 32px;
}
.SearchArea {
  margin-bottom: 20px;
}
.SearchButton {
  padding-left: 5px !important;
  padding-right: 10px !important;
}
.StatsToggle {
  margin-bottom: 9px !important;
}
.GameToggle {
  margin-bottom: 9px !important;
  margin-left: 10px !important;
}
.SearchField {
  padding-right: 5px !important;
}
.CompareHelper {
  padding: 10px;
}
.CheckCircle {
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  color: #15b952 !important;
}
.Players {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.CircularProgress {
  position: absolute;
  margin-top: 20px;
  margin-left: -47px;
}
@media screen and (min-width: 768px) {
  .MainTitle {
    cursor: pointer;
  }
}
