h1 {
  margin-bottom: 0;
  font-size: 26px;
}
.MainTitle {
  display: inline-block;
  text-transform: capitalize;
  margin-right: 10px;
  font-size: 32px;
}
.PrimaryNav {
  margin-bottom: 0;
}
.SearchArea {
  margin-bottom: 20px;
}
.SearchButton {
  padding-left: 5px !important;
  padding-right: 10px !important;
}
.StatsToggle {
  margin-bottom: 9px !important;
}
.ResetPlayers {
  margin-right: 10px !important;
}
.SearchField {
  padding-right: 5px !important;
}
.CompareHelper {
  padding: 10px;
}
.CheckCircle {
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  color: #15b952 !important;
}
.Players {
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
}
.PlayersCircularProgress {
  margin-top: 35px;
}
.CircularProgress {
  position: absolute;
  margin-top: 20px;
  margin-left: -47px;
}
