.Playlist {

}
.PlaylistTitle {

}
.Green {
  color: green !important;
}
.Red {
  color: red !important;
}
@media screen and (max-width: 680px) {
  .Playlist {
    margin-left: -18px;
  }
  .PlaylistTitle {
    margin-left: 29px;
  }
}
@media screen and (max-width: 420px) {
  .Playlist {
    margin-left: -27px;
  }
}
