.ComparePlayers {
  padding-bottom: 50px;
}
.CompareNav {
  margin-bottom: 20px
}
.CompareTitle {
  display: block;
}
.PlaylistFilter {

}

@media screen and (max-width: 600px) {
  .CompareTitle {
    display: block;
    padding: 0;
  }
}
