.ComparePlayers {
  width: 90%;
  margin-left: 5%;
  padding-bottom: 50px;
}
.CompareNav {
  margin-bottom: 20px
}
.CompareTitle {
  display: inline-block;
  padding: 10px;
}
.PlaylistFilter {
  display: inline-block;
  padding: 10px;
}
.DeleteButton {
  display: inline-block;
  padding-left: 15px;
}

@media screen and (max-width: 600px) {
  .CompareTitle {
    display: block;
    padding: 0;
  }
}
