.Player {
  display: inline-block;
  width: 250px;
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
}

.Name {
  margin: 15px;
  font-weight: bold;
  font-size: 24px;
}

.Total {
  margin: 15px;
  font-weight: bold;
  font-size: 20px;
}
