body {
  text-align: center;
  font-family: 'Burbank', serif;
  background-color: #607D8B;
}

@font-face {
  font-family: 'Burbank';
  src:
    url(../../assets/BurbankBigCondensed-Black.otf) format('opentype');
}
