body {
  text-align: center;
  font-family: 'Burbank', serif;
  background-color: #171a21;
  margin: 0;
  padding: 0;
  color: #b8b6b4;
}

h3 {
  color: black;
}

@font-face {
  font-family: 'Burbank';
  src:
    url(../../assets/BurbankBigCondensed-Black.otf) format('opentype');
}
