.Compared {
  background-color: #9ac1e6;
}
.Card {
  background-color: #f1f2f6 !important;
  min-height: 100%;
}

.PlayerHeading {
  float: left;
  width: 33.33%;
  text-align: center;
}
.PlayerPlatform,
.PlayerName {
  display: inline-block;
  vertical-align: middle;
}
.PlayerName {
  padding-right: 10px;
}
.PlatformImage {
  width: 25px;
  height: 25px;
}

.PlayerUtilitiesLeft {
  float: left;
  width: 33.33%;
  text-align: left;
}
.PlayerUtilitiesRight {
  width: 33.33%;
  float: right;
  padding-left: 10px;
  text-align: right;
}
.PlayerRemoveButton {

}
.PlayerCompareButton {
  margin-top: -5px !important;
}

.TimeInfo {
  display: block;
  clear: both;
}
.TimeInfo .NextUpdate {
  display: block;
}
@media screen and (min-width: 768px) {
  .NextUpdate {
    display: inline-block;
  }
}
