.PlayerHeading {
  float: left;
  width: 33.33%;
  text-align: center;
}
.PlayerPlatform,
.PlayerName {
  display: inline-block;
  vertical-align: middle;
}
.PlayerName {
  padding-right: 10px;
}
.PlatformImage {
  width: 25px;
  height: 25px;
}

.PlayerUtilitiesLeft {
  float: left;
  width: 33.33%;
  text-align: left;
}
.PlayerUtilitiesRight {
  width: 33.33%;
  float: right;
  text-align: right;
}
.TimeInfo {
  display: block;
  clear: both;
}
